<%- include('partials/header.ejs');-%>

<h1>Home Page</h1>
<a class="btn btn-primary" href="/camps">Go to Camps Page</a>
<br><br>
<a href="/camps/new" class="btn btn-primary">Go to create page</a>
<%- include('partials/footer.ejs');-%>
